@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #07142B;
  --foreground: #E2E8F0;
}

body {
  /* Use the config variables we just set */
  @apply bg-helix-navy text-helix-text-main font-sans;
  
  /* Radial Gradient Background */
  background-image: radial-gradient(circle at 50% 0%, #1FAE9F15 0%, transparent 40%);
  min-height: 100vh;
}